.MainNavigation {
    position: relative;
    width: 100%;
    padding: 1.2rem 3rem;
    display: flex;
    align-items: center;

    .Toggler {
        position: relative;
        color: inherit;
        cursor: pointer;
        width: 3.6rem;
        height: 2.4rem;
        background: transparent;
        border: none;
        outline: none;
        z-index: 51;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        span {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background: currentColor;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            span {
                transform: scaleX(1.2);
            }
        }
    }

    .Brand {
        color: #1f1f1f;
        background: #ededed;
        font-size: 3.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        border: 2px solid currentColor;
        border-radius: 0.7rem 0 0.7rem 0;
        padding: 0 0.7rem;
        transform: rotate(-3deg) skewX(-15deg);
        margin-left: auto;
    }

    .Nav {
        display: none;
        margin-left: auto;
    }
}

@media screen and (min-width: 52.5em) {
    .MainNavigation {
        .Toggler {
            display: none;
        }

        .Nav {
            display: flex;
        }
    }
}
