.NavLinks {
    list-style: none;

    display: flex;
    gap: 1rem;

    .Item {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem;
        a {
            transition: color 0.3s ease;
        }

        a:hover,
        a[class='active'] {
            color: #fe5481;
        }
    }
}

@media screen and (max-width: 52.5em) {
    .NavLinks {
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        .Item {
            font-size: 2.8rem;
        }
    }
}
