.PlaceItem {
    color: var(--body-text-dark);
    background: var(--body-bg-light);
    .Image {
        height: 35rem;
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Info {
        padding: 2.5rem;
    }
    .Actions {
        padding: 2rem;

        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;
    }
}
