.UserList {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-top: 2.4rem;
    padding-bottom: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    // align-items: center;
}

@media screen and (min-width: 52.5em) {
    .UserList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
