@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

:root {
    --body-text-light: #ecedef;
    --body-text-dark: #1f1f1f;

    --body-bg-light: #efefef;
    --body-bg-dark: linear-gradient(to right, #0f0c29, #302b63, #24243e);

    --button-tertiary-light: #45c932;
    --button-tertiary-dark: #2aa91c;
    --button-danger-light: #eb3d30;
    --button-danger-dark: #b5150c;
    --button-primary-light: #01a1f7;
    --button-primary-dark: #0176c7;

    --button-shadow-primary: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
    --button-shadow-hover: 0 2px 7px 2px rgba(0, 0, 0, 0.15);

    --shadow-light: 2px 2px 3px rgba(0, 0, 0, 0.15);
    --shadow-dark: 2px 2px 3px rgba(0, 0, 0, 0.3);

    --nav-bg-gradient-1: linear-gradient(115deg, #fc466b 15%, #3f5efb 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', Helvetica, Arial;
    background: var(--body-bg-dark);
    color: var(--body-text-light);
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    font: inherit;
    border: none;
    outline: none;
    padding: 0.8rem 1.7rem;
}

button {
    cursor: pointer;
    color: var(--body-text-light);
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
